<div class="rectangle1"></div>
<div class="dashboard">Dashboard</div>
<div class="leads">Leads</div>
<div class="rectangle2"></div>
<div class="rectangle3"></div>
<div class="searchLeads">Search Leads</div>
<div class="search1"><img src="assets/search-1-icon.svg" alt="" class="icon" /></div>
<div class="rectangle32"></div>
<div class="searchLeads2">Search Leads</div>
<div class="search12"><img src="assets/search-1-icon2.svg" alt="" class="icon2" /></div>
<div class="ellipse1"><img src="assets/ellipse-1-icon.svg" alt="" class="icon3" /></div>
<div class="rectangle4"></div>
<div class="addLeads">Add Leads</div>
<div class="group2"><img src="assets/group-2-icon.svg" alt="" class="icon4" /></div>
<div class="rectangle42"></div>
<div class="viewAll">View all</div>
<div class="annMaria">Ann Maria</div>
<div class="leadTrackerUser">Lead tracker user</div>
<div class="rectangle43"></div>
<div class="rectangle5"></div>
<div class="materialSymbolsLogoutRounded">
  <img src="assets/material-symbols-logout-rounde.svg" alt="" class="icon5" />
</div>
<div class="setting1"><img src="assets/setting-1-icon.svg" alt="" class="icon6" /></div>
<div class="welcomeToLeadTracker">Welcome to Lead tracker!</div>
<div class="recentlyActiveLeads">Recently active leads</div>
<div class="rectangle58"></div>
<div class="rectangle63"></div>
<div class="rectangle59"></div>
<div class="rectangle60"></div>
<div class="rectangle61"></div>
<div class="rectangle140"></div>
<div class="rectangle62"></div>
<div class="rectangle64"></div>
<div class="rectangle65"></div>
<div class="rectangle66"></div>
<div class="rectangle142"></div>
<div class="appleInc">Apple Inc.</div>
<div class="samsung">Samsung</div>
<div class="facebook">Facebook</div>
<div class="xiaomi">Xiaomi</div>
<div class="chanel">Chanel</div>
<div class="leadName">Lead name</div>
<div class="dateAdded">Date added</div>
<div class="currentState">Current state</div>
<div class="probability">Probability</div>
<div class="teamSize">Team size</div>
<div class="location">Location</div>
<div class="revenue">Revenue</div>
<div class="catogory">Catogory</div>
<div class="_28NOV2022">28 NOV 2022</div>
<div class="_28NOV20222">28 NOV 2022</div>
<div class="_28NOV20223">28 NOV 2022</div>
<div class="_28NOV20224">28 NOV 2022</div>
<div class="_28NOV20225">28 NOV 2022</div>
<div class="contactMade">Contact made</div>
<div class="contactMade2">Contact made</div>
<div class="contactMade3">Contact made</div>
<div class="contactMade4">Contact made</div>
<div class="contactMade5">Contact made</div>
<div class="_100250People">100-250 people</div>
<div class="_100250People2">100-250 people</div>
<div class="_100250People3">100-250 people</div>
<div class="_100250People4">100-250 people</div>
<div class="_100250People5">100-250 people</div>
<div class="netherlands">Netherlands</div>
<div class="netherlands2">Netherlands</div>
<div class="netherlands3">Netherlands</div>
<div class="netherlands4">Netherlands</div>
<div class="netherlands5">Netherlands</div>
<div class="_15Million">1-5 Million</div>
<div class="_15Million2">1-5 Million</div>
<div class="_15Million3">1-5 Million</div>
<div class="_15Million4">1-5 Million</div>
<div class="_15Million5">1-5 Million</div>
<div class="probabilities">Probabilities</div>
<div class="activeLeadsStatus">Active leads status</div>
<div class="rectangle52"></div>
<div class="rectangle55"></div>
<div class="rectangle53"></div>
<div class="rectangle54"></div>
<div class="rectangle56"></div>
<div class="rectangle57"></div>
<div class="image10"></div>
<div class="rectangle15">
  <div [ngClass]="idx == 0 ? 'menu-horizontal-selected' : 'menu-horizontal'" *ngFor="let i of basicData.data.stage_type_count;index as idx">{{i.stage_type}}({{i.value}})</div>
</div>


<div class="graph">Graph</div>
<div class="rectangle71"></div>
<div class="_10">10</div>
<div class="unnamed">0</div>
<div class="_20">20</div>
<div class="_30">30</div>
<div class="vector38"><img src="assets/vector-38-icon.svg" alt="" class="icon7" /></div>
<div class="vector39"><img src="assets/vector-39-icon.svg" alt="" class="icon8" /></div>
<div class="vector40"><img src="assets/vector-40-icon.svg" alt="" class="icon9" /></div>
<div class="vector41"><img src="assets/vector-41-icon.svg" alt="" class="icon10" /></div>
<div class="workshopStage">Workshop stage</div>
<div class="rectangle139"></div>
<div class="followUpMeeting">Follow up meeting</div>
<div class="rectangle1422"></div>
<div class="firstIntroMeeting">First intro meeting</div>
<div class="rectangle143"></div>
<div class="initialInterest">Initial interest</div>
<div class="rectangle144"></div>
<div class="contactMade6">Contact made</div>
<div class="rectangle145"></div>

<!-- <div>
  <canvas
  baseChart
  class="chart"
  datasets={{barChartData}}
  options="barChartOptions"
  type="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
>
</canvas> 
</div>-->

<div class="_102">10%</div>
<div class="_3Leads">03 Leads</div>
<div class="highProbabilityToWin">
  <p class="labelWrapper">
    <span class="label">High</span>
    <span class="label2">probability to win</span>
  </p>
</div>
<div class="_15Leads">15 Leads</div>
<div class="_50">50%</div>
<div class="mediumProbabilityToWin">
  <p class="labelWrapper2">
    <span class="label3">Medium</span>
    <span class="label4">probability to win</span>
  </p>
</div>
<div class="_12Leads">12 Leads</div>
<div class="_40">40%</div>
<div class="lowProbabilityToWin">
  <p class="labelWrapper3">
    <span class="label5">Low</span>
    <span class="label6">probability to win</span>
  </p>
</div>
<div class="rectangle49"></div>
<div class="rectangle50"></div>
<div class="contactMade7">Contact made</div>
<div class="initialInterest2">Initial interest</div>
<div class="_15">15</div>
<div class="_5">05</div>
<div class="rectangle51"></div>
<div class="rectangle67"></div>
<div class="rectangle68"></div>
<div class="firstIntroMeeting2">First intro meeting</div>
<div class="followUpMeeting2">Follow up meeting</div>
<div class="workshopStage2">Workshop stage</div>
<div class="_52">05</div>
<div class="_2">02</div>
<div class="_1">01</div>
<div class="frame"><img src="assets/frame-icon.svg" alt="" class="icon11" /></div>
<div class="agriculture">Agriculture</div>
<div class="agriculture2">Agriculture</div>
<div class="agriculture3">Agriculture</div>
<div class="agriculture4">Agriculture</div>
<div class="agriculture5">Agriculture</div>
<div class="frame13"><div class="medium">Medium</div></div>
<div class="frame23"><div class="medium2">Medium</div></div>
<div class="frame18"><div class="low">Low</div></div>
<div class="frame24"><div class="low2">Low</div></div>
<div class="frame19"><div class="high">High</div></div>
